
body{
    background-image: url(./imgs/backbase.png);
    background-size: cover; /* Makes the image cover the whole page */
    background-repeat: no-repeat; /* Prevents tiling */
    background-position: center center; /* Centers the image */
    background-attachment: fixed; /* Optional: makes the background stay in place when scrolling */
}


h1{
    font-family: "noto serif display";
    color: white;
    text-align: left;
    margin-top: 1rem;
    font-size: 8em;
}

h2{
    font-family: "noto serif display";
    color: white;
    text-align: center;
    font-size: 6em;
}

h3{
    font-family: "noto serif display";
    color: white;
    font-size: 3em;
}

.mixly-big{
    text-align: left;
    font-size: 8em;
}

.mixly-mid{
    text-align: left;
    font-size: 6em;
    margin-bottom: 20px;
}

.mixly-small{
    text-align: left;
    font-size: 3em;
}

.mixly-button{
    font-family: 'Noto Serif Display', serif;
    font-weight: 700;
    background-color: white;
    border: none;
    border-radius: 100px;
    color: #013927;
    padding: 15px 40px;
    text-align: center;
    display: inline-block;
    font-size: 3em;
    text-decoration: none;
    margin: 4px 2px;
}



.alcbuttons:hover{
    background-color: #eab555;
    color: white;
    transition: 350ms;
}

.selected-alcohol {
    background-color: #eab555 !important;
    color: #013927 !important;
}

.mixly-header{
    padding-top: 40px;
}

.logo {
    max-width: 125px;
}



.next-button{
    font-family: 'Noto Serif Display', serif;
    font-weight: 700;
    background-color: white;
    border: none;
    border-radius: 100px;
    color: #013927;
    padding: 15px 40px !important;
    text-align: center;
    font-size: 3em;
    text-decoration: none;
    margin: 4px 2px;
}

.next-button:hover{
    background-color: #eab555;
    color: white;
    transition: 350ms;
}